@tailwind base;
@tailwind components;
@tailwind utilities;

.save-button {
    @apply relative top-[10%] h-[57px] border-4 p-[5px] pl-[10px] pr-[10px] border-black rounded-[10px] bg-[#6c89c7];
    transition-duration: 100ms;
    transition-property: all;
}

.save-button:hover {
    @apply bg-[#e0e5f0] top-[7%];
    transform: translateY(-3px);
}

 