@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .course_list_inner {
    @apply w-full h-full;
  }

  .course_list {
    @apply flex flex-col border-4 border-black w-full h-[90%] p-[10px] box-border;
  }

  .search-bg {
    @apply bg-[#D93030];
  }

  .section-bg {
    @apply bg-[#A62044];
  }

  .schedule-bg {
    @apply bg-[#ff9419];
  }

  .button_row {
    @apply flex flex-row w-full h-[10%] gap-[5px];
  }

  .course_list_search_button {
    @apply w-[20%] h-[100%] border-4 p-[4px] border-black border-b-0 bg-[#D93030];
  }

  .course_list_search_button.active {
    @apply w-[20%] h-[110%] border-4 p-[4px] border-black border-b-0 bg-[#D93030];
  }

  .course_list_section_button {
    @apply w-[20%] h-[100%] border-4 p-[4px] border-black border-b-0 bg-[#A62044];
  }

  .course_list_section_button.active {
    @apply w-[20%] h-[110%] border-4 p-[4px] border-black border-b-0 bg-[#A62044] z-[1];
  }

  .course_list_schedule_button {
    @apply w-[20%] h-[100%] border-4 p-[4px] border-black border-b-0 bg-[#ff9419];
  }

  .course_list_schedule_button.active {
    @apply w-[20%] h-[110%] border-4 p-[4px] border-black border-b-0 bg-[#ff9419] z-[1];
  }

  .course_list_header {
    @apply flex flex-row mt-[10px] gap-[5px];
  }
  
  .course_list_text {
    @apply text-center text-black;
    font-size: clamp(0.5rem, 1vw, 1.5rem);
    overflow-x: hidden;
    text-overflow: ellipsis;
  }

  .search-bar-container {
    @apply flex flex-col max-w-full max-h-full box-border overflow-hidden;
  }

  .subject-filter {
    @apply flex flex-col w-[35%];
  }

  .soc-link {
    color: #3498db;
    text-decoration: underline;
  }

  #headerText {
    @apply font-semibold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(0.5rem, 2vw, 1.2rem);
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
}

/* SELECTION DROPDOWN */

.rs-control {
  @apply h-[2.5rem] w-full p-[5px]
  border-[3px] border-[#000000] border-r-[8px] rounded-[5px]
   bg-white hover:top-[-2px] text-ellipsis;
}

.rs-menu {
  @apply mt-1 border border-gray-300 rounded-md bg-white shadow-lg z-50 overflow-x-hidden text-ellipsis;
}

.rs-option {
  @apply px-4 py-2 cursor-pointer text-sm text-[#000000] overflow-x-hidden text-ellipsis;
}

.rs-option-focused {
  @apply bg-[#bdbdbd] scale-x-105 overflow-x-hidden text-ellipsis;
}

.rs-option-selected {
  @apply bg-[#d53348] text-white overflow-x-hidden text-ellipsis;
}

.rs-placeholder {
  @apply text-gray-400;
}

.rs-single-value {
  @apply text-gray-800;
}

.rs-indicator {
  @apply px-2 text-gray-500 hover:text-gray-700;
}

.rs-separator {
  @apply hidden;
}

.schedule_container {
  @apply flex w-full h-full gap-[10px];
  border: 2px solid red;
}

.randomizer_container {
  @apply flex-row flex-[3] h-full;
  border: 2px solid rgb(43, 67, 186);
}

.saved_schedule_container {
  @apply flex-row flex-1 h-full;
  border: 2px solid green;
}

.section-course-info h2 {
  margin-bottom: 0.5em;
}
.section-detail {
  background: #f9f9f9;
}
.section-list h3 {
  margin-top: 1em;
}



