.course_list {
  border: 5px solid black;
  position: absolute;
  background-color: rgb(217, 48, 48);
  top: 10%;
  bottom: 2%;
  width: 38%;
  left: 19%;
  overflow: hidden;
}

.course_list_explore_button {
  border: 5px solid black;
  position: absolute;
  background-color: rgb(217, 48, 48);
  top: 2%;
  left: 19%;
  width: 12%;
}

.course_list_courses_button {
  border: 5px solid black;
  position: absolute;
  background-color: rgb(166, 32, 68);
  top: 2%;
  left: 31%;
  width: 12%;
}

.course_list_text {
  text-align: center;
}

.search_bar_container {
  display: flex;
  flex-direction: column;
  width: 100%; /* Set the desired width */
  height: 95%; /* Set the desired height */
  max-height: 628px; /* Set a maximum height if needed */
  position: relative; /* Ensure the container is positioned correctly */
  box-sizing: border-box;
}

.subject-filter {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 40%; /* Adjust the width to make it wider */
}
