@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .selected_courses {
    @apply w-full h-full bg-[#97A1D0] border-[5px] border-black rounded-lg p-2 overflow-y-auto overflow-x-hidden ;
  }

  .selected_courses_text {
    @apply text-xl text-center text-[#000000] font-bold mb-4;
    font-size: clamp( 1rem ,2vw, 4.5rem);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 100%;
  }

  .no_courses_selected_text {
    @apply text-center mt-5;
    font-size: clamp( .6rem ,2vw, 1rem);
  }

  .courses_list {
    @apply list-none p-0 m-0;
  }

  .course_card {
    @apply w-full bg-white border border-gray-300 rounded-md p-2 mb-3 shadow-sm;
  }

  .course_card h2 {
    @apply font-bold m-0 mb-2 text-[#2c3e50];
    font-size: clamp( .6rem ,1vw, 2rem);
    overflow-x: hidden;
    text-overflow: ellipsis;
  }

  .course_card p {
    @apply text-gray-600;
    font-size: clamp( .6rem ,1vw, 2rem);
  }

  .remove_course_button {
    @apply bg-red-600 text-white border-none rounded px-2 py-1 cursor-pointer mt-2 transition-colors duration-200;
    font-size: clamp( .5rem ,1vw, 2rem);
  }

  .set-info-button {
    @apply order-1 bg-[#ccd0e4] text-[#333] border-none border-black rounded px-2 py-1 cursor-pointer transition-colors duration-200;
    font-size: clamp( .5rem ,1vw, 2rem);
  }

  .set-info-button:hover {
    @apply bg-[#a4c3ee] scale-105;
  }

  .remove_course_button:hover {
    @apply bg-[#ca2c49] scale-105;
  }
}