.input-wrapper {
    background-color: white;
    width: auto;
    border-radius: 10px;
    height: 2.5rem;
    padding: 0 10px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
    border: 2px solid lightgrey;
}

input {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.25rem;
    width: 100%;
    margin-left: 5px;
}

input:focus {
    outline: none;
}

#search-icon {
    color: darkred;
    margin-right: 5px;
}